<div *ngIf="!isAdmin" class="table-operations">
  <app-brand-modal [brandObject]="selectedData" [isVisible]="isShowModal" (cancelModalEvent)="closeModal($event)"
    (okModalEvent)="closeModal($event)">
  </app-brand-modal>
  <button (click)="showModal()" class="add-btn" nzType="primary" nz-button>
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</div>
<nz-table #sortTable [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="baseParams.pageSize"
  [nzPageIndex]="baseParams.pageIndex" nzBordered [nzLoading]="isLoading" (nzQueryParams)="onQueryParamsChange($event)"
  [nzData]="listData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzAlign="center" nzColumnKey="id" [nzSortFn]="true">Id</th>
      <th nzAlign="center">Brand Name
        <nz-filter-trigger [(nzVisible)]="isShowSearchInput" [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data; let odd=odd; let even = even; let index  = index ;"
      [ngClass]="{ odd: odd, even: even }">
      <td nzAlign="center">{{ index + 1 + ((baseParams.pageIndex - 1) * baseParams.pageSize) }}</td>
      <td nzAlign="center">{{ data.brandName }}</td>
      <td nzAlign="center" class="btn-action">
        <button nz-button nzType="primary" nzPopconfirmOverlayClassName="delete-confirm-card" nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this brand?" (nzOnConfirm)="delete(data.id)"
          nzPopconfirmPlacement="left" nzDanger>Delete<i nz-icon nzType="delete" nzTheme="outline"></i></button>
        <!-- <button nz-button (click)="edit(data)" [disabled]="true" nzType="primary">Edit<i nz-icon nzType="edit"
            nzTheme="outline"></i></button> -->
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByName()" class="search-button">
        Search
      </button>
      <!-- <button nz-button nzSize="small" (click)="reset()">Reset</button> -->
    </div>
  </div>
</nz-dropdown-menu>
