<nz-table #sortTable [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="baseParams.pageSize"
  [nzPageIndex]="baseParams.pageIndex" nzBordered [nzLoading]="isLoading" (nzQueryParams)="onQueryParamsChange($event)"
  [nzData]="listData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="7%" nzColumnKey="id" [nzSortFn]="true">Id</th>
      <th nzAlign="center">Customer
        <nz-filter-trigger [(nzVisible)]="isShowSearchInput" [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzAlign="center" nzColumnKey="state" [nzFilters]="filterState" [nzFilterFn]="true">State</th>
      <th nzAlign="center">Total</th>
      <th nzAlign="center">Discount</th>
      <th nzAlign="center">Shipping</th>
      <th nzAlign="center">QR code</th>
      <th nzAlign="center" nzWidth="12%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data; let odd=odd; let even = even" [ngClass]="{ odd: odd, even: even }">
      <td nzAlign="center">{{ data.id }}</td>
      <td nzAlign="center">{{ data.customerName }}</td>
      <td nzAlign="center">{{ data.state }}</td>
      <td nzAlign="center">{{ data.total |currency }}</td>
      <td nzAlign="center">{{ data.discount | currency }}</td>
      <td nzAlign="center">{{ data.shippingCost | currency }}</td>

      <td nzAlign="center"><img height="50" (click)="showQrCode(data.qrCode)" src="{{ data.qrCode}}">
      </td>
      <td nzAlign="center" class="btn-action">
        <button nz-button (click)="viewOrder(data.id)" nzType="primary">View<i nz-icon nzType="eye"
            nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
      <button nz-button nzSize="small" nzType="primary" (click)="searchByName()" class="search-button">
        Search
      </button>
    </div>
  </div>
</nz-dropdown-menu>
